<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
        <div class="social-space d-flex justify-content-center align-items-center">
            <h1>Ingresa con tu cuenta</h1>
            <button class="btn btn-default btn-fb" (click)="loginFacebook()">Facebook</button>
            <button class="btn btn-default btn-g" (click)="loginGoogle()">Google</button>
            <button class="btn btn-default btn-tw" (click)="loginTwitter()">Twitter</button>
        </div>
    </div>
  </div>
</div>