/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~nouislider/distribute/nouislider.min.css";
.btn-circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}